#map >div> div > div > div>img[title ="카카오" ]:first-child{
  width: 50px !important;
  height: 50px !important;
  border: 5px solid green !important;
  clip: auto !important;
  border-radius: 25px;

 
}

#map >div> div > div > div> img:first-child:hover{
   transform : translateY(-4px);
}

